
body{
    background-color: lightgray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.battlePic {
    width: 1000px;
    height: 600px;
}

.welcome {
    text-align: center;
}

.greyBackGround {
    background-color: lightgray;
}